---
import { Image } from 'astro:assets'

import { PostPreview } from 'astro-pure/components/pages'
import { getBlogCollection, sortMDByDate } from 'astro-pure/server'
import { Button, Card, Icon, Label } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import ProjectCard from '@/components/home/ProjectCard.astro'
import Section from '@/components/home/Section.astro'
import SkillLayout from '@/components/home/SkillLayout.astro'
import config from '@/site-config'

const languages = ['Html', 'JavaScript', 'CSS', 'Shell']
const frontend = ['TypeScript', 'Vite', 'Webpack', 'Astro']
const backend = ['Vercel', 'Waline']

const MAX_POSTS = 10
const allPosts = await getBlogCollection()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)

const imagePath = config.logo.src
const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/*.{jpeg,jpg,png,gif,avif,webp}'
)
if (!images[imagePath])
  throw new Error(
    `"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif,avif,webp}"`
  )
---

<PageLayout meta={{ title: 'Home' }} highlightColor='#713131'>
  <main class='flex w-full flex-col items-center'>
    <section class='animate mb-10 flex flex-col items-center gap-y-7' id='content-header'>
      <Image
        src={images[imagePath]()}
        alt={config.logo.alt || 'Profile'}
        class='h-35 w-auto rounded-full border p-1'
        loading='eager'
        fetchpriority='high'
      />

      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-4xl font-medium'>{config.author}</h1>
        <div class='text-lg flex flex-wrap justify-center gap-x-7 gap-y-3'>
          <Label
            title=''
            as='a'
            href='https://github.com/Mal-Pat'
            target='_blank'
          >
            <Icon name='github' class='size-6' slot='icon' />
          </Label>
          <Label
            title=''
            as='a'
            href='https://x.com/malhar_a_patel'
            target='_blank'
          >
            <Icon name='x' class='size-6' slot='icon' />
          </Label>
          <Label
            title=''
            as='a'
            href='https://www.linkedin.com/in/malharpatel24/'
            target='_blank'
          >
            <Icon name='linkedin' class='size-6' slot='icon' />
          </Label>
          <Label title='Pune'>
            <Icon name='location' class='size-5' slot='icon' />
          </Label>
        </div>
      </div>
    </section>

    <div id='content' class='animate flex flex-col gap-y-10 md:w-4/5 lg:w-4/5'>
      <Section title='About'>
        <p class='prose text-lg text-muted-foreground'>
          I’m an undergrad at IISER Pune with a major in Mathematics and minor in Data Science. 
          My academic interests lie at the intersection of formal reasoning and advanced search algorithms to automate mathematical discovery.
        </p>
        <Button title='More' class='w-fit self-end' href='/about' variant='ahead' />
      </Section>
    </div>
  </main>
</PageLayout>
